/* General */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* utility */
.container{
    width: 80%;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
.float{
    float:left;
}
.lista-style{
    
    list-style: none;
    color:white;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 80px;
    
}
.lista-style li{
    display: inline-block;
    margin-left: 15px;


}
.bottone{
    border:solid 1px white;
    min-width: 60px;
    text-align: center;
    line-height: 1;
    padding: 7px 3px;
    border-radius: 5px;

}

.verde{
    background-color: #7cbb01;
    border:solid 1px  #7cbb01; ;
}
.big{
    padding: 18px 6px;
    font-size: 20px;
    text-transform: uppercase;
    
}


a{
    display: inline-block;
    text-decoration: none;
    color:white;
}
a:hover:not(.bottone a){
    color:#d3d3d3;
}
.testo a:hover{
    color:white;
}

.width-50{
    width: 50%;
}

/* header */
header{
    width: 100%;
    height: 80px;
    background-color: #0d325a;
}



.logo{

    width: 15%;
    height: 80px;
    

}
.logo img{
    position: relative;
    top:50%;
    transform: translateY(-50%);


}
.centro{
    width: 50%;
    height: 100%;

}
.right{
    width: 35%;
    height: 100%;
}
.right .lista-style{
    text-align: right;
}

/* section immagine */
main .baner{
    background-color:#0d325a ;
    
    height: 400px;
    background-image: url(./img/background-header.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 120% 140%;
}
main .container{
    height: 100%;
    position: relative;
}
    
main .testo{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
h1{
    font-size: 50px;
    margin-bottom: 60px;
    color:white;
}






