/* General */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* utility */
.container{
    width: 80%;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
.float{
    float:left;
}
.lista-style{
    
    list-style: none;
    color:white;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 80px;
    
}
.lista-style li{
    display: inline-block;
    margin-left: 15px;


}
.bottone{
    border:solid 1px white;
    min-width: 60px;
    text-align: center;
    line-height: 1;
    padding: 7px 3px;
    border-radius: 5px;

}

.verde{
    background-color: #7cbb01;
    border:solid 1px  #7cbb01; ;
}
.big{
    padding: 18px 6px;
    font-size: 20px;
    text-transform: uppercase;
    
}


a{
    display: inline-block;
    text-decoration: none;
    color:white;
}
a:hover:not(.bottone a){
    color:#d3d3d3;
}
.testo a:hover{
    color:white;
}

.width-50{
    width: 50%;
}

/* header */
header{
    width: 100%;
    height: 80px;
    background-color: #0d325a;
}



.logo{

    width: 15%;
    height: 80px;
    

}
.logo img{
    position: relative;
    top:50%;
    transform: translateY(-50%);


}
.centro{
    width: 50%;
    height: 100%;

}
.right{
    width: 35%;
    height: 100%;
}
.right .lista-style{
    text-align: right;
}

/* section banner */
main .banner{
    background-color:#0d325a ;
    
    height: 400px;
    background-image: url(./img/background-header.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 120% 140%;
}
main .container{
    height: 100%;
    position: relative;
}
    
main .testo{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
h1{
    font-size: 50px;
    margin-bottom: 60px;
    color:white;
}
/* sezione con il testo */
.testo1{
    text-align: center;
    background-color: #d3d3d3;
    padding: 30px 0;
    margin-bottom: 30px;
    
}
.testo1 h3{
    color:#818181;
    margin-top: 10px;  
}
/* sezione con le immagini in float */
.blocchi{
    width: 100%;
    margin-bottom: 60px;
}
.blocchi .card{
    width: 30%;
    margin-right: 5%;
    text-align: center;
}
.blocchi .card:last-child{
    margin: 0;
}
.blocchi .card p{
    color:#808080;
    font-size: 18px;
    line-height: 24px;
}

.immagine{
    width: 100%;
    height: 250px;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.immagine.uno{
    background-image: url(./img/profile.svg);

}
.immagine.due{
    background-image: url(./img/computer.svg);

}
.immagine.tre{
    background-image: url(./img/doc.svg);

}

/* .card img{
    width: 40%;
    margin-bottom: 20px;
} */
.card h2{
    color:#7cbb01;
}
.linea{
    width: 30%;
    height: 2px;
    background-color: #808080;
    margin:20px 35%;
}








